/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 15px;
}

h1,
.h1,
h2,
.h2,
.card {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

p,
.nav-link,
.btn {
  font-family: "Alata", sans-serif;
}

h1,
.h1 {
  line-height: 1;
  font-size: 2.65rem;
  color: white;
}

h2,
.h2 {
  margin: 50px 0 20px;
  line-height: 1.05;
  font-size: 2.1rem;
}

p {
  color: #8c8c8c;
  line-height: 1.65;
}

.container {
  padding: 25px;
}

.grid-container {
  display: grid;
  justify-items: center;
  margin: 50px 0 10px;
}
.grid-container h2 {
  margin-bottom: 50px;
}

.btn {
  margin: 10px 0 50px;
  padding: 10px 45px;
  border: 1px solid black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: black;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: white;
}

.header {
  min-height: 700px;
  background-image: url("../images/mobile/image-hero.jpg");
}
.header-title {
  margin-top: 160px;
  padding: 25px 25px 20px;
  border: 2px solid white;
}

.header,
.intro-img {
  background-size: cover;
  background-position: center;
}

.intro {
  padding-top: 75px;
}
.intro-img {
  height: 220px;
  background-image: url("../../images/mobile/image-interactive.jpg");
}
.intro-article {
  padding-inline: 20px;
  text-align: center;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.navbar-brand {
  width: 145px;
}
.navbar-toggler, .navbar-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.navbar-collapse, .navbar-close {
  display: none;
}
.navbar-nav {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 150px;
  list-style: none;
}
.navbar-nav::before {
  position: absolute;
  content: "";
  left: -25px;
  top: -50px;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: -1;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: white;
}
.nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 30px;
  background-color: white;
}

.navbar.active {
  z-index: 1;
}
.navbar.active .navbar-collapse,
.navbar.active .navbar-close {
  display: block;
}
.navbar.active .navbar-toggler {
  display: none;
}
.navbar.active .nav-link {
  font-size: 1.4rem;
  line-height: 2.1;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.card {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  width: 100%;
  height: 120px;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  background-size: cover;
}
.card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: -2;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
}
.card:hover {
  color: black;
  z-index: 1;
}
.card:hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.6);
}

#card-1 {
  background-image: url(../images/mobile/image-deep-earth.jpg);
}

#card-2 {
  background-image: url(../images/mobile/image-night-arcade.jpg);
}

#card-3 {
  background-image: url(../images/mobile/image-soccer-team.jpg);
}

#card-4 {
  background-image: url(../images/mobile/image-grid.jpg);
}

#card-5 {
  background-image: url(../images/mobile/image-from-above.jpg);
}

#card-6 {
  background-image: url(../images/mobile/image-pocket-borealis.jpg);
}

#card-7 {
  background-image: url(../images/mobile/image-curiosity.jpg);
}

#card-8 {
  background-image: url(../images/mobile/image-fisheye.jpg);
}

.footer {
  background-color: black;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .navbar-brand {
  margin: 40px 0 40px;
}
.footer__navbar-nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer .nav-item {
  margin-bottom: 15px;
}
.footer__social-links {
  margin: 30px 0 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer__social-link {
  position: relative;
}
.footer__social-link:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 30px;
  background-color: white;
}
.footer__copyrights {
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
