// ## Colors

// ### Primary

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

// Breaking point
$break-point: 1200px;

@mixin menu-hover {
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 1px;
    width: 30px;
    transform: translateX(50%);
    background-color: transparent;

    transition: all 0.3s;
  }
  &:hover {
    &::after {
      transform: translateX(-50%);
      background-color: $White;
    }
  }
}

@mixin mq {
  @media (min-width: $break-point) {
    @content;
  }
}
