@use '../abstracts/vars' as *;

@import '../components/components';
@import '../components/navbar';
@import '../components/card';
@import '../components/footer';

@include mq {
  body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: transparent;
  }
}
