.card {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  width: 100%;
  height: 120px;

  font-size: 1.6rem;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: $White;
  z-index: 1;

  background-size: cover;

  transition: 0.5s ease-out;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    z-index: -2;

    background: linear-gradient(
      to right,
      rgba($color: $Black, $alpha: 0.6),
      transparent
    );
  }

  &:hover {
    color: $Black;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;

      background-color: rgba($color: $White, $alpha: 0.6);
    }
  }
}

#card-1 {
  background-image: url(../images/mobile/image-deep-earth.jpg);
}
#card-2 {
  background-image: url(../images/mobile/image-night-arcade.jpg);
}
#card-3 {
  background-image: url(../images/mobile/image-soccer-team.jpg);
}
#card-4 {
  background-image: url(../images/mobile/image-grid.jpg);
}
#card-5 {
  background-image: url(../images/mobile/image-from-above.jpg);
}
#card-6 {
  background-image: url(../images/mobile/image-pocket-borealis.jpg);
}
#card-7 {
  background-image: url(../images/mobile/image-curiosity.jpg);
}
#card-8 {
  background-image: url(../images/mobile/image-fisheye.jpg);
}

@include mq($break-point) {
  .card {
    height: 470px;
    min-width: 150px;
    margin: 0;
    padding: 30px 40px;

    &::before {
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;

      background: linear-gradient(
        to top,
        rgba($color: $Black, $alpha: 0.7),
        transparent
      );
    }

    font-size: 2.2rem;
  }

  #card-1 {
    background-image: url(../images/desktop/image-deep-earth.jpg);
  }
  #card-2 {
    background-image: url(../images/desktop/image-night-arcade.jpg);
  }
  #card-3 {
    background-image: url(../images/desktop/image-soccer-team.jpg);
  }
  #card-4 {
    background-image: url(../images/desktop/image-grid.jpg);
  }
  #card-5 {
    background-image: url(../images/desktop/image-from-above.jpg);
  }
  #card-6 {
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
  }
  #card-7 {
    background-image: url(../images/desktop/image-curiosity.jpg);
  }
  #card-8 {
    background-image: url(../images/desktop/image-fisheye.jpg);
  }
}
