// Container

.container {
  padding: 25px;
}

.grid-container {
  display: grid;
  justify-items: center;

  margin-top: 50px;

  h2 {
    margin-bottom: 50px;
  }
}

.btn {
  margin: 10px 0 50px;
  padding: 10px 45px;
  border: 1px solid $Black;

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;

  color: $Black;
}

// Header

.header {
  min-height: 700px;

  background-image: url('../images/mobile/image-hero.jpg');

  &-title {
    margin-top: 170px;
    padding: 25px 25px 20px;
    border: 2px solid $White;
  }
}

.header,
.intro-img {
  background-size: cover;
  background-position: center;
}

// Intro article

.intro {
  padding-top: 75px;
  &-img {
    height: 220px;

    background-image: url('../../images/mobile/image-interactive.jpg');
  }

  &-article {
    padding-inline: 20px;
    text-align: center;
  }
}
