.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  &-brand {
    width: 145px;
  }

  &-toggler {
    border: none;
    background-color: transparent;
  }

  &-collapse {
    display: none;
  }
}

.nav {
  &-link {
    text-decoration: none;
    color: $White;
  }
}
