@use '../abstracts/vars' as *;

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html {
  font-size: 15px;
}

h1,
.h1,
h2,
.h2,
.card {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

p,
.nav-link,
.btn {
  font-family: 'Alata', sans-serif;
}

h1,
.h1 {
  line-height: 1;
  //font-size: 2.65rem;
  font-size: clamp(2.65rem, 2.65rem + 10vw, 4.7rem);

  color: $White;
}

h2,
.h2 {
  margin: 50px 0 20px;
  line-height: 1.05;
  font-size: 2.1rem;
}

p {
  color: $Dark-Gray;
  line-height: 1.65;
}
